*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: #000;
    /* height: 100vh; */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    position: absolute;
    color: #df4040;
    top: 3px;
    font-size: 30px;
}

.calci{
    padding: 20px;
    border-radius: 20px;
    display: grid;
    background-color: aquamarine;
}
input{
    grid-column: span 4;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: rgb(44, 33, 33);
    text-align: right;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0 30px;
}

button{
    font-size: 18px;
    height: 50px;
    width: 40px;
    border-radius: 30px;
    margin: 6px;
    background-color: #fff;
}
button:hover{
    background-color: #000;
    color: #fff;
}